// Specific CSS for your home-page

.container {
  font-family: poppins;
  align-items: center;

  .top-img {
    position: absolute;
    width: 1296px;
    height: 100%;
    opacity: 0.9;
    border-radius: 10px;
  }

  .welcome {
    padding: 100px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(27, 108, 108);
    font: bold;
    font-size: 20px;
  }

   .btn {
    background-color: rgb(219, 110, 88);
    border-color: rgb(219, 110, 88);
  }


  .clothing-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 120px;
  }

  // .div-1 {
  //   background-color: blue;
  // }

  .div-2 {
    // background-color: brown;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .img-div {
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
  }

  .img-fluid {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-min-height {
    min-height: 180px;
  }

  .text-div {
    // background-color: aqua;
    border-radius: 10px;
    overflow: hidden;
  }

  .btn {
    background-color: rgb(219, 110, 88);
    border-color: rgb(219, 110, 88);
  }
}
