<!--<div class="container new-rental-container">
  <div>
    <h1>New Rental</h1>

    <%#= render 'form', rental: @rental %>-->
<!---->
    <%#= link_to 'Back to dashboard', users_path, class: 'btn btn-light' %>
<!--  </div>
</div>
-->

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-center">New Rental</h1>

      <!-- The form partial will be rendered here with Bootstrap styling included within the form itself -->
      <%= render 'form', rental: @rental %>

      <div class="text-center mt-4">
        <%= link_to 'Back to dashboard', users_path, class: 'btn btn-primary' %>
        <%= link_to 'Back to rentals', rentals_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
