<div class="container">
  <h1>My Dashboard</h1>

  <h3>My added clothes</h3> <!--#for the rentee to see the clothes they are renting rn-->
  <% @my_clothing.each do |clothing| %>
    <p><%= clothing.title %></p>
    <p><%= clothing.description %></p>
  <% end %>

  <h3>My rentals</h3> <!--#for the renter to see which of their clothes are being rented out-->
  <% @my_rentals.each do |rental| %>
    <p><%= rental.status %></p>
  <% end %>
</div>
