<h1>My Dashboard</h1>

if user role = buyer
iterate over rentals to show its attributes
<%= @my_rentals %>
  else (if user = seller)
  iterate over clothing to dhow its attributes
  <%= @my_clothing %>
